<mat-card class="card">
  <a [routerLink]="['/cocktails', cocktail._id]">
    <mat-card-content fxLayout="column">
      <div class="unpublished" *ngIf="!cocktail.is_published">
        <span class="unpublished-text">Unpublished</span>
      </div>
      <img [src]="cocktail.image | image"
           [alt]="cocktail.title"/>
      <mat-card-title>{{ cocktail.title }}</mat-card-title>
    </mat-card-content>
  </a>

  <div *appHasRoles="['admin']">
    <button mat-raised-button color="warn" (click)="removeCocktail()">
      <mat-spinner *ngIf="(removeLoading | async) && cocktail._id === toBeDeletedCocktail" diameter="30"></mat-spinner>
      <span *ngIf="!(removeLoading | async) && cocktail._id !== toBeDeletedCocktail">Delete</span>
    </button>&nbsp;

    <button mat-raised-button color="primary" (click)="publishCocktail()" *ngIf="!cocktail.is_published">
      <mat-spinner diameter="30" *ngIf="(publishLoading | async) && cocktail._id === toBePublishCocktail"></mat-spinner>
      <span *ngIf="!(publishLoading | async) && cocktail._id !== toBePublishCocktail">Publish</span>
    </button>
  </div>
</mat-card>

