<mat-spinner *ngIf="loading | async; else cocktailArea"></mat-spinner>

<ng-template #cocktailArea>
  <mat-card *ngIf="cocktailData">
    <mat-card-content>
      <div fxLayout="row" fxLayoutGap="16px">
        <img [src]="cocktailData.image | image"
             [alt]="'Photo of ' + cocktailData.title"/>

        <div>
          <h1>{{ cocktailData.title }}</h1>
          <h3>Ingredients:</h3>
          <ul>
            <li *ngFor="let c of cocktailData.ingredients; let i = index">
              <span style="font-weight: 700">{{ cocktailData.ingredients[i].ingTitle }}</span>&nbsp;
              <span>{{ cocktailData.ingredients[i].ingAmount }}</span>
            </li>
          </ul>
        </div>
      </div>

      <h3>Recipe</h3>
      <p>{{ cocktailData.recipe }}</p>
    </mat-card-content>
  </mat-card>
</ng-template>

